*{
    margin: 0;/*removida a margem*/
    padding: 0;/*removido o padding*/
}

html{
    scroll-behavior: smooth; /*referenciar as sections, criando um efeito mais fluido*/
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
header {
    height: 150px;
    width: 100%;
    background-color: #333;
}

.backgroundRed {
    background-image: url(../assets/fundovermelho.jpg); /*insere uma imagem de fundo*/
    background-size: cover; /*manter a imagem em um formato e não em vários formatos pequenos*/
    background-attachment: fixed; /*mantem o fundo background parado mesmo que mova a tela*/
    background-repeat: no-repeat;
}


h1{
    font-size: 90px;
    color: white; 
}
.center {
    text-align:center;
}
.textInfo{
    font-size: 50px;
    color: #000;
    margin-top: 100px;
    margin-bottom: 100px;
}
.grid-container {
    display: grid;
    width: 800px;
    grid-template-columns: auto auto auto;
    padding: 10px;
}
.grit-item {
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

article { /*borda das bolsas*/
    border: 0.5rem outset #000;
    border-radius: 20px;
    font: bold 1rem sans-serif;
    margin: 50px;
    padding: 0.5rem 0.5rem;
    outline-offset: 10rem;
    display: inline-table;
}
legend {
    background-color: #000;
    color: #fff;
    padding: 3px 6px;
}
.backgroundBlack {
    background-image: url(../assets/fundopretodetalhevermelho.jpg); /*insere uma imagem de fundo*/
    background-size: cover; /*manter a imagem em um formato e não em vários formatos pequenos*/
    background-attachment: fixed; /*mantem o fundo background parado mesmo que mova a tela*/
    background-repeat: no-repeat;
    height: 100vh;
}

.card-container{
    background-color: #fff;
    color: #000;
    border-radius: 25px;
    padding: 25px;
    max-width: 300px;
    width: 300px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  input{
      height: 30px;
      margin-bottom: 5px;
      text-align: center;
      border-radius: 12px;
      background-color: #000;
      color: #fff;
  }

form{
    display: grid;
}

footer{
    height: 160px;
    padding: 25px;
    background-color: #000;
    color: white;
}